
<h1>single category data</h1>
<table class="table">

    <swipe-cards>
        <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
            Card content here: {{card.name}}
        </swipe-card>
    </swipe-cards>

    <p>=========================</p>


    <thead>
    <tr>
        <th>Name</th>
        <th>face1</th>
        <th>face2</th>
        <th>face3</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in cards">
        <td>{{c.name}} </td>
        <td>{{c.facess[0].text}} {{c.facess[0].symbol}}</td>
        <td>{{c.facess[1].text}} {{c.facess[1].symbol}}</td>
        <td>{{c.facess[2].text}} {{c.facess[2].symbol}}</td>
    </tr>
    </tbody>

</table>

<div Id="loading" dw-loading="cards" dw-loading-options="{text: 'Loading cards...'}" ></div>