
<!DOCTYPE>
<html ng-app="cardsApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Latest compiled and minified CSS  switch to NPM-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-route/angular-route.js"></script>
    <script src="/controllers/cards.js"></script>

</head>
<body>
<header></header>
<p></p>

<div class="container" id="main">
    <!-- angular templating -->
    <!-- this is where content will be injected -->

    <div class="container" ng-controller="cardTableView">
        <h1>Cards full list</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="card in list">
                <td>{{card.name}}</td>
                <td>{{card.subcategory[0].symbol}}</td>
                <td>****</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>

