
.dataLine{
   display: inline;  
}


.dataWidget{
    float:right;
    height: 14px;
}

.dataEdit > button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.dataLink > a{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.dataDelete > button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.dataEdit > button > img{
    width: 16px; 
    height: 14px;
}

.dataDelete > button > img{
    width: 14px; 
    height: 14px;
}

.dataLink > a > img{
    width: 14px; 
    height: 14px;
}

