.symbol{
    width: 99px;
    display: inline;
}

.collapseIcon{
    width: 22px;
    display: inline;12
}

.curriculaLine{
   display: inline;  
}

.widgetsBar{
    float:right;
}


.curriculumDelete
{
    margin-left: 10px;
}

.curriculumEdit
{
    margin-left: 10px;
}

