.symbol{
    width: 99px;
    display: inline;
}

.collapseIcon{
    width: 22px;
    display: inline;
}

.curriculaLine{
   display: inline;  
}


/*==== todo move to widget =====*/


.dataWidget{
    float:right;
}

.curriculumEdit > button > img{
    width: 24px; 
    height: 24px;
}

.curriculumDelete > button > img{
    width: 20px; 
    height: 20px;
}

.curriculumLink > a > img{
    width: 20px; 
    height: 20px;
}


/*========______________=========*/