<div class="table-list">

<p class="title">Curriculum List</p>

<div ng-repeat="c in curics">
  <div class="panel-group" id="collapsibleDisplay"> 
  <div class="panel panel-default">
  <div class="panel-heading">       
    <h4 class="panel-title">
      <button class="accordion-toggle" data-toggle="collapse" href="#collapseFacess{{$index}}"> + </button>
      <div class="curriculaLine"> {{c.name}}
        <a href="http://www.google.com/{{c._id}}" target="_blank"> Go </a>
      </div>
    </h4>
    </div>

  <div class="collapse panel-collapse" id="collapseFacess{{$index}}"> 
    <div class="panel-body">
      <div ng-repeat="f in c.facess">
        <div class="symbol">{{f.symbol}}</div> {{f.text}}
      </div>
    </div>
  </div>
</div>
</div> 
</div>   
