
.w3-container {
    border-style: groove;
    margin: auto;
    width: 70%;
    padding: 10px;
}

.card-face{
    display: flex;              
    flex-direction: row;            
    flex-wrap: nowrap;               
    justify-content: space-between; 
    background-color: lightyellow;
    text-align: center;
    padding: 8px;
}

.card-face .card-text{
    font-size: 18px;
    margin:0 auto;
}

.card-face .card-symbol{
    font-size: 18px;
    float: left;
}
